body {
  font-family: sans-serif;
  text-align: center;
  padding: 1em; 
  background: #f0f0f0; /* background is a shorthand property that can set multiple background-related properties at once */
}

#checkbox-container { /* # = IDs, unique, one element only */
  display: flex;
  justify-content: center;
  gap: 20px; /* px = absolute, gap between checkboxes */
  margin-bottom: 20px;  /* margins are between borders and other elements (external) */
  flex-wrap: wrap;
}

#checkbox-container label { /* Descendents or elements within the ID */
  font-size: 1.1rem;
}

#status { 
  margin-top: 20px;
  margin-bottom: 1em; 
  font-weight: bold;
  color: rgb(226, 90, 0);  /* 255 values for rgb. Can change graphically in VSC */
}

#scan-btn {
  padding: 20px 40px; /* padding is between borders and the element itself (internal) */
  margin-top: 1em; 
  margin-bottom: 1em; /* 1em = relative to current element, 16px if base font size is 16px */
  font-size: 1.5rem; /* 1rem = relative to root, not affected by container */
  background-color: #28a745;  /* one background property, specifically background color of an element */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#scan-btn:hover { /* ID + a pseudo class- hover, only usable by ID */
  background-color: #218838;  /* Hexadecimal colors represent #RRGGBB */
}

.scan-btn-container { /* . = class, any element with this class */
  text-align: center;
  margin: 10px;
}

#scanner {
  display: none;
  width: 300px; /* Could use more relative width in the future */
  margin: auto;
}

#log-table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 90%; /* relative width */
}

#log-table th, #log-table td {
  border: 1px solid #aaa;
  padding: 10px;
  font-size: 1em;
}

#log-table th {
  background-color: #eee;
}

.outlined-box {
  margin: 1em auto;
  padding: 20px 40px;
  font-size: 1.5rem;
  border: 2px solid #28a745;
  border-radius: 8px;
  width: fit-content;
  color: #333;
}

#total-time {
  display: none;
}

#reset-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 0.5em;
  cursor: pointer;
  transition: background-color 0.1s ease;
  border-radius: 4px;
}

#reset-btn:active {
  background-color: rgba(0, 0, 0, 0.1); /* subtle gray feedback on touch, the fourth element ( a ) is transparency. 1 = opaque */
}
